<!-- About Grid Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light header">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <p>Jagdeep Singh Cheema is the son of Late Dr. Amrik Singh Cheema, Padma Shree Awardee. He was born
                    January 1, 1954 in New Delhi, India. Jagdeep did his Senior Cambridge from St. John's, Chandigarh in
                    1969 and completed his Bachelors of Commerce from Post Graduate Government College, Sector 11
                    Chandigarh in 1974.</p>
                <p>Jagdeep Cheema started his career in business in 1976. In 1982, he decided to serve the State of
                    Haryana politically by becoming an active member of Indian National Congress. </p>
            </div>
            <div class="col-lg-5">
                <p>Thirty years later, he quit active politics and dedicated most of his time to philanthropy.</p>
                <p>He currently, resides in Chandigarh, India and is proprietor of JPSB Holdings. He is a founder and
                    member of multiple organizations. Cheema loves to travel and has developed a global professional
                    network over the years.</p>
                <p><a href="#travelModal" data-toggle="modal">Click here to see countries he visited.</a></p><a
                    href="#travelModal" data-toggle="modal">
                </a>
            </div><a href="#travelModal" data-toggle="modal">

            </a>
        </div><a href="#travelModal" data-toggle="modal">
        </a>
    </div><a href="#travelModal" data-toggle="modal">
    </a>
</section>

<div class="portfolio-modal modal fade" id="travelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Countries Traveled</h2>
                        <hr class="star-primary">
                        <div class="countries">
                            <ul>
                                <li>Armenia</li>
                                <li>Australia</li>
                                <li>Bangladesh</li>
                                <li>Belgium</li>
                                <li>China</li>
                                <li>Croatia</li>
                                <li>Egypt</li>
                                <li>Eritrea</li>
                                <li>Estonia</li>
                                <li>France</li>
                                <li>Georgia</li>
                                <li>Germany</li>
                                <li>Ghana</li>
                                <li>Greece</li>
                                <li>Hong Kong</li>
                                <li>Indonesia</li>
                                <li>Israel</li>
                                <li>Italy</li>
                                <li>Japan</li>
                                <li>Kazakhstan</li>
                                <li>Latvia</li>
                                <li>Lithuania</li>
                                <li>Malaysia</li>
                                <li>Monaco</li>
                                <li>Netherlands</li>
                                <li>New zealand</li>
                                <li>Pakistan</li>
                                <li>Portugal</li>
                                <li>Russia</li>
                                <li>Serbia</li>
                                <li>Sicily</li>
                                <li>Singapore</li>
                                <li>South Korea</li>
                                <li>Spain</li>
                                <li>Sri Lanka</li>
                                <li>Thailand</li>
                                <li>Turkey</li>
                                <li>Turkmenistan</li>
                                <li>UAE</li>
                                <li>Uzbekistan</li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
