<footer id="colophon" class="site-footer text-center" role="contentinfo">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <aside id="text-3" class="widget-footer widget_text">
                        <h3 class="widget-title">LOCATION</h3>
                        <div class="textwidget">{{site.footer.location}}</div>
                    </aside>
                </div>
                <div class="footer-col col-md-4">
                </div>
                <div class="footer-col col-md-4">
                    <aside id="text-5" class="widget-footer widget_text">
                        <h3 class="widget-title">ABOUT JAGDEEP</h3>
                        <div class="textwidget">{{site.about}}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright © 2019
                    <br><br>
                    <p style="font-size:.6em;color:gray">Theme by <a style="color:gray" title="TA Portfolio Free WordPress Theme"
                            href="http://themeart.co/free-theme/ta-portfolio/" target="_blank">TA Portfolio</a>.
                        Design by <a href="http://startbootstrap.com/" target="_blank" style="color:gray">Start Bootstrap</a> and
                        Developed by <a style="color:gray" title="Download Free Premium WordPress Themes" href="http://themeart.co/"
                            target="_blank">ThemeArt</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>