<header id="masthead" class="site-header" role="banner">
    <nav role="navigation">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <a class="navbar-brand" href="http://jagdeepsinghcheema.com/" title="JAGDEEP SINGH CHEEMA"
                        rel="homepage">JAGDEEP SINGH CHEEMA</a>
                </div>

                <!-- Main navigation -->
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul id="menu-primary" class="nav navbar-nav navbar-right">
                        <li id="menu-item-44"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a
                                title="PorAbouttfolio" href="#about">About</a></li>
                        <li id="menu-item-45"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a
                                title="Portfolio" href="#portfolio">Portfolio</a></li>
                        <li id="menu-item-49"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a
                                title="Family History" href="#familyHistory">Family History</a></li>
                        <li id="menu-item-46"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a
                                title="Contact" href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!-- End main navigation -->
            </div>
        </div>
    </nav>
</header><!-- #masthead -->