<!-- familyHistory Section -->
<section class="success" id="familyHistory">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Family History</h2>
                <hr class="star-light header">
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <p>Jagdeep Singh Cheema’s grandfather Zaildar Kartar Singh Cheema moved to India after partition from
                    village Badai Cheema District Sialkot (now in Pakistan) and settled in village Khojepur, District
                    Gurdaspur, in the state of Punjab in India. He left all his property behind in his native village
                    and started his career afresh in India. He planted and maintained orchards on the land which was
                    allotted to him after the partition.</p>
                <p style="float:right"> <img src="img/drcheema.gif" alt="Dr. Amrik Sinch Cheema"
                        title="Dr. Amrik Singh Cheema" width="109" height="130"></p>
                <p><a href="http://cheematrust.org/page/Dr-Amrik-Singh-Cheema" target="_blank">Dr. Amrik Singh
                        Cheema</a> (1918-1982), Padma Shree awardee son of Zaildar Kartar Singh Cheema was born on
                    December 1, 1918 in Village Badhai Cheema in the Sialkot District, now in Pakistan. Dr. Amrik Singh
                    Cheema usherered the post-independence agricultural era and contributed in harbouring the Green
                    Revolution in India. A pioneer in agricultural extension in India, Dr. Cheema planned and
                    implemented strategies that made the country become self-sufficient in food, an outstanding
                    achievement by any standard.</p>
                <p>With a Master's degree in Agriculture from <a href="http://www.puchd.ac.in/" target="_blank"> Punjab
                        University, India</a> and a Doctorate in Agriculture Extension from <a
                        href="http://www.cornell.edu" target="_blank">Cornell University, USA</a> Dr. Cheema started his
                    career as an Agriculture Assistant and quickly rose to become</p>
                <ul>
                    <li>Director, Agriculture, Faridkot State</li>
                    <li>Joint Director of Agriculture, <a
                            href="http://en.wikipedia.org/wiki/Patiala_and_East_Punjab_States_Union"
                            target="_blank">Patiala and East Punjab States Union (PEPSU)</a></li>
                    <li>Director of Agriculture, <a href="http://en.wikipedia.org/wiki/Punjab_(India)"
                            target="_blank">State of Punjab</a>, India</li>
                    <li>Agricultural Production Commissioner, Government of India</li>
                    <li>Senior Agriculturist, <a
                            href="http://en.wikipedia.org/wiki/International_Bank_for_Reconstruction_and_Development"
                            target="_blank">International Bank for Reconstruction and Development (IBRD)</a>(World Bank)
                    </li>
                    <li>Honorary, Agriculture Advisor to the Government of India</li>
                    <li>Vice-Chancellor, <a href="http://web.pau.edu/" target="_blank">Punjab Agricultural
                            University</a>, Ludhiana.</li>
                    <li>Was tipped to take over as Chairman, National Seeds Corporation, Government of India, before his
                        unfortunate death in Arusha, Tanzania in1982, on a consultative visit to develop agriculture and
                        subsequently settle Punjab farmers overseas.</li>
                </ul>
                <p><a href="http://cheematrust.org/page/Dr-Amrik-Singh-Cheema" target="_blank">Click here to read
                        more...</a></p>
            </div>
        </div>
    </div>
</section>