<!-- Portfolio Header -->
<header class="portfolio-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/img/profile.jpg">
                <div class="intro-text">
                    <span class="name">
                        Jagdeep Singh Cheema </span>
                    <hr class="star-primary header">
                    <span class="skills">
                        Jagdeep Singh Cheema is a well-known social worker, a philanthropist and has been an
                        example setter throughout his career. </span>
                </div>
            </div>
        </div>
    </div>
</header>