<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary portfolio">
            </div>
        </div>

        <div id="filters" class="filters">
            <ul>
                <li class="filter active" data-filter="*">All</li>
                <li class="filter" data-filter=".education">Education</li>
                <li class="filter" data-filter=".health">Health</li>
                <li class="filter" data-filter=".politics">Politics</li>
                <li class="filter" data-filter=".social">Social</li>
                <li class="filter" data-filter=".sports">Sports</li>
            </ul>
        </div>
        <div class="row">
            <div id="portfolio-items">

                {% for post in site.posts %}
                <div class="col-xs-12 col-sm-6 col-md-4 item {{ post.category }}">
                    <div class="portfolio-item">
                        <a href="#portfolio-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-{{ post.modal-id }}" data-toggle="modal">{{ post.title }}</a>
                        </h3>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->

{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolio-{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/{{ post.img }}" style="height:300px" class="img-responsive img-centered">
                        <div style="text-align: left;">
                            {{ post.description }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}