  <!-- Portfolio Grid Section -->
  <section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary portfolio">
            </div>
        </div>

        <div id="filters" class="filters">
            <ul>
                <li class="filter active" data-filter="*">All</li>
                <li class="filter" data-filter=".education">Education</li>
                <li class="filter" data-filter=".health">Health</li>
                <li class="filter" data-filter=".politics">Politics</li>
                <li class="filter" data-filter=".social">Social</li>
                <li class="filter" data-filter=".sports">Sports</li>
            </ul>
        </div>


        <div class="row">
            <div id="portfolio-items">

                <!-- the loop -->

                <div class="col-xs-12 col-sm-6 col-md-4 item social">
                    <div class="portfolio-item">
                        <a href="#portfolio-22" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/youngFarmerAssociation.png" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-22" data-toggle="modal">YOUNG FARMERS ASSOCIATION PUNJAB</a>
                        </h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item social">
                    <div class="portfolio-item">
                        <a href="#portfolio-26" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/fff.jpg" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-26" data-toggle="modal">FUTURE FARMERS FOUNDATION</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item ">
                    <div class="portfolio-item">
                        <a href="#portfolio-24" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/rc-logo.jpg" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-24" data-toggle="modal">RURAL CORP</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item social">
                    <div class="portfolio-item">
                        <a href="#portfolio-9" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/dascft1.png" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-9" data-toggle="modal">DR. AMRIK SINGH CHEEMA FOUNDATION
                                TRUST</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item health">
                    <div class="portfolio-item">
                        <a href="#portfolio-18" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/CHAWA-logo.jpg" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-18" data-toggle="modal">CHANDIGARH HEALTH &#038; WELLNESS
                                ASSOCIATION</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item sports">
                    <div class="portfolio-item">
                        <a href="#portfolio-20" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/sports.png" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-20" data-toggle="modal">SPORTS</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item sports">
                    <div class="portfolio-item">
                        <a href="#portfolio-15" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/cga-logo.png" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-15" data-toggle="modal">CHANDIGARH GOLF ASSOCIATION</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item education">
                    <div class="portfolio-item">
                        <a href="#portfolio-13" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/college-logo.jpg" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-13" data-toggle="modal">POST GRADUATE GOVERNMENT COLLEGE,
                                SECTOR 11, CHANDIGARH</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item politics">
                    <div class="portfolio-item">
                        <a href="#portfolio-11" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/politics1.jpg" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-11" data-toggle="modal">POLITICS</a></h3>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4 item social">
                    <div class="portfolio-item">
                        <a href="#portfolio-28" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/logointach.png" class="img-responsive">
                        </a>
                        <h3><a href="#portfolio-28" data-toggle="modal">INDIAN NATIONAL TRUST FOR ART AND
                                CULTURAL HERITAGE</a></h3>
                    </div>
                </div>
                <!-- end of the loop -->

            </div> <!-- .#portfolio-items -->
        </div> <!-- .row -->


    </div>
</section>

<!-- Portfolio Modals -->


<!-- the loop -->

<div class="portfolio-modal modal fade" id="portfolio-22" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>YOUNG FARMERS ASSOCIATION PUNJAB</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/youngFarmerAssociation.png" class="img-responsive img-centered">
                        <p>
                            He is serving as the President of Young Farmers Association Punjab. This
                            Association is working for the benefits of farmer in the State of Punjab. It has
                            the strength of over 10000 members. It has a campus situated on Dr. Amrik Singh
                            Cheema Marg at village Rakhra District Patiala, Punjab.&hellip; </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Social</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/young-farmers-association-punjab/"
                            title="YOUNG FARMERS ASSOCIATION PUNJAB">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolio-26" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>FUTURE FARMERS FOUNDATION</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/fff.jpg" class="img-responsive img-centered">
                        <p>
                        </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Social</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/future-farmers-foundation/"
                            title="FUTURE FARMERS FOUNDATION">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolio-24" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>RURAL CORP</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/rc-logo.jpg" class="img-responsive img-centered">
                        <p>
                        </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong></strong>
									</li>
								</ul>-->
                        <a class="btn btn-default" href="http://jagdeepsinghcheema.com/portfolio/rural-corp/"
                            title="RURAL CORP">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolio-9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>DR. AMRIK SINGH CHEEMA FOUNDATION TRUST</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/dascft1.png" class="img-responsive img-centered">
                        <p>
                            Dr. Amrik Singh Cheema Foundation Trust (DASCFT) is a not for profit NGO
                            dedicated to empowering and improving the lives of the underserved population of
                            Chandigarh (U.T.), Haryana and Punjab. DASCFT was formally launched in 2002 and
                            has a governing council in specialized fields like health care, education,
                            agriculture and&hellip; </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Social</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/dr-amrik-singh-cheema-foundation-trust/"
                            title="DR. AMRIK SINGH CHEEMA FOUNDATION TRUST">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolio-18" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>CHANDIGARH HEALTH &#038; WELLNESS ASSOCIATION</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/CHAWA-logo.jpg" class="img-responsive img-centered">
                        <p>
                            Objective of Chandigarh Health and Wellness Association is to promote Chandigarh
                            to be the first 'Health Quotient of India City' so as to guide the city to have
                            the most number of healthy citizens per square kilometer area. CHAWA financially
                            supports needy patients suffering from vasculitis and other diseases at&hellip;
                        </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Health</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/chandigarh-health-wellness-association/"
                            title="CHANDIGARH HEALTH &#038; WELLNESS ASSOCIATION">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolio-20" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>SPORTS</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/sports.png" class="img-responsive img-centered">
                        <p>
                            Currently held positions Honorary, Life Member, Panchkula Golf Club, Haryana
                            Founder, CGA Golf Range Member Chandigarh Golf Club Life Member, Indian Golf
                            Union Patron, Chandigarh Netball Association Formerly held positions Member
                            Executive Committee, Chandigarh Olympic Association Chairman, Amateur Circle
                            Kabaddi Association Chandigarh Member, Championship Committee, Indian Golf Union
                            Member, North&hellip; </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Sports</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default" href="http://jagdeepsinghcheema.com/portfolio/sports/"
                            title="SPORTS">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="portfolio-modal modal fade" id="portfolio-15" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>CHANDIGARH GOLF ASSOCIATION</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/cga-logo.png" class="img-responsive img-centered">
                        <p>
                            Founder, Chandigarh Golf Association. He has also remained General Secretary and
                            President of the Association and is currently Sr. Vice President. </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Sports</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/chandigarh-golf-association/"
                            title="CHANDIGARH GOLF ASSOCIATION">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolio-13" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>POST GRADUATE GOVERNMENT COLLEGE, SECTOR 11, CHANDIGARH</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/college-logo.jpg" class="img-responsive img-centered">
                        <p>
                            Founder and President, Alumni Association of Post Graduate Government College
                            Sector 11, Chandigarh, India. Positions held: Member of Central Association of
                            the College Vice President of Blood Bank Society of the College </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Education</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/post-graduate-government-college-sector-11-chandigarh/"
                            title="POST GRADUATE GOVERNMENT COLLEGE, SECTOR 11, CHANDIGARH">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="portfolio-modal modal fade" id="portfolio-11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>POLITICS</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/politics1.jpg" class="img-responsive img-centered">
                        <p>
                            In 1982, joined active politics from state of Haryana. He was a member of Indian
                            National Congress. Some of positions held in his career so far, Political Jt.
                            Secretary, Haryana Pradesh Youth Congress General Secratary, Haryana Pradesh
                            Youth Congress Vice President, Haryana Pradesh Youth Congress Chairman,
                            Department of Minority Affairs&hellip; </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Politics</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default" href="http://jagdeepsinghcheema.com/portfolio/politics/"
                            title="POLITICS">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="portfolio-modal modal fade" id="portfolio-28" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>INDIAN NATIONAL TRUST FOR ART AND CULTURAL HERITAGE</h2>
                        <hr class="star-primary portfolio">
                        <img src="/img/portfolio/logointach.png" class="img-responsive img-centered">
                        <p>
                            Life Member INTACH organization. Organized the first INTACH Golf Tournament at
                            Chandigarh Golf Club. </p>
                        <!--<ul class="list-inline item-details">
									<li>Client:										<strong><a href="" target="_blank"></a></strong>
									</li>
									<li>Date:										<strong>August 26, 2015</strong>
									</li>
									<li>Categories:																				<strong>Social</strong>
									</li>
								</ul>-->
                        <a class="btn btn-default"
                            href="http://jagdeepsinghcheema.com/portfolio/indian-national-trust-for-art-and-cultural-heritage/"
                            title="INDIAN NATIONAL TRUST FOR ART AND CULTURAL HERITAGE">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end of the loop -->